@import "../../styles.app.scss";
.container-navbar {
  @include themify($themes) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    line-height: 40px;
    border-bottom: 1px solid themed("border");
    position: sticky;
    top: 0;
    background-color: themed("bg");
    color: themed("textColor");
    z-index: 1000;
    .left-nav {
      display: flex;
      align-items: center;
      gap: 30px;
      span {
        font-size: 20px;
        font-weight: bold;
        color: themed("logo");
      }
      .search-nav {
        display: flex;
        align-items: center;
        gap: 4px;
        border-radius: 5px;
        border: 1px solid themed("border");
        padding: 2px;
        input {
          width: 400px;
          border: none;
          background-color: transparent;
          color: themed("textColor");
          @include mobile {
            display: none;
          }
        }
      }
    }
    .right-nav {
      display: flex;
      align-items: center;
      gap: 20px;
      @include mobile {
        display: none;
      }
      .user-nav {
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: bold;

        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          object-fit: cover;
        }
        span {
          font-size: 14px;
        }
      }
    }
  }
}
