$themes: (
  light: (
    textColor: #000,
    bg: white,
    logo: darkblue,
    bgSoft: rgb(216, 216, 216),
    textColorsoft: rgb(10, 10, 10),
    textComment: rgb(152, 146, 146),
    border: lightgray,
  ),
  dark: (
    textColor: rgb(255, 255, 255),
    bg: rgb(49, 48, 48),
    logo: rgb(227, 188, 170),
    bgSoft: rgb(29, 28, 28),
    textColorsoft: rgb(255, 251, 251),
    textComment: rgb(255, 251, 251),
    border: rgb(224, 220, 220),
  ),
);
@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}
@function themed($key) {
  @return map-get($theme-map, $key);
}

@mixin mobile {
  @media (max-width: 480px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 960px) {
    @content;
  }
}
